#include <zephyr/dt-bindings/gpio/gpio.h>

/ {
	aliases {
		led1 = &led1;
		sw1 = &sw1;
	};

	leds {
		compatible = "gpio-leds";
		led1: led_1 {
			gpios = <&gpioa 8 GPIO_ACTIVE_HIGH>;
			label = "LED 1";
		};
	};

	buttons {
		compatible = "gpio-keys";
		sw1: sw_1 {
			gpios = <&gpioa 10 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			zephyr,code = <INPUT_KEY_1>;
		};
	};
};

